$main_background_colour: #dae3e5;
$secondary_colour: #7a5361;
$additional_colour: #f6f4f4;
$main_text_colour: #333232;
$shadow-colour: #8b8989;
$main_font: Open Sans;
$secondary_font: Jacques Francois Shadow;
