.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: Open Sans;
  font-size: 20px;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #dae3e5;
}

.navbar {
  margin: 0;
  padding: 10px 15px;
}

.main_img {
  position: relative;
  padding-top: 50px;
  z-index: 1;
}

h1 {
  font-family: Jacques Francois Shadow;
  font-size: 100px;
  color: #333232;
  display: flex;
  padding-top: 124px;
  margin-bottom: 28px;
}

h2 {
  font-family: "Merriweather";
  font-size: 30px;
  line-height: 54px;
  display: flex;
  color: #333232;
  margin-bottom: 30px;
}

h3 {
  font-family: "Merriweather";
  font-size: 25px;
  opacity: 60%;
  color: #333232;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.buttons {
  gap: 10px;
  margin-top: 30px;
}

.skills_button {
  display: block;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 300px;
  font-family: "Jacques Francois";
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  background: #7a5361;
  opacity: 0.9;
  color: #f6f4f4;
  text-shadow: -1px -1px 0 #8b8989, 1px -1px 0 #8b8989, -1px 1px 0 #8b8989, 1px 1px 0 #8b8989;
}

.skills_button:hover {
  text-decoration: none;
  color: #f6f4f4;
  opacity: 1;
}

.contact_button {
  display: block;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 300px;
  font-family: "Jacques Francois";
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  color: #8b8989;
  opacity: 0.9;
  text-shadow: -0.1px -0.1px 0 #7a5361, 1px -0.5px 0 #7a5361, -1px 0.1px 0 #7a5361, 0.5px 0px 0px #7a5361;
  background: #f6f4f4;
}

.contact_button:hover {
  text-decoration: none;
  opacity: 1;
  color: #8b8989;
}

.about {
  background-color: #f6f4f4;
  padding-bottom: 100px;
  display: flex;
}

section {
  margin: 0 auto;
  padding: 50px 0;
}

.wrapper {
  width: 100%;
  margin-top: 50px;
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
}

.container-content {
  display: flex;
  text-align: center;
  font-family: "Montserrat";
  font-size: 25px;
  color: #333232;
  line-height: 40px;
}

.hello {
  color: #7a5361;
  font-family: "McLaren";
  font-size: 30px;
}

.angle {
  position: relative;
}

.angle:after {
  content: "";
  position: absolute;
}

.angle1,
.angle1::after {
  height: 35px;
  width: 100%;
}

.angle1 {
  background-color: #7a5361;
}

.angle1::after {
  background-color: #f6f4f4;
  -webkit-clip-path: polygon(0% 0, 100% 0%, 25% 100%, 0 0%);
          clip-path: polygon(0% 0, 100% 0%, 25% 100%, 0 0%);
}

.angle1,
.angle1::after {
  height: 35px;
  width: 100%;
}

.angle1 {
  background-color: #7a5361;
}

.angle1::after {
  background-color: #f6f4f4;
  -webkit-clip-path: polygon(0% 0, 100% 0%, 25% 100%, 0 0%);
          clip-path: polygon(0% 0, 100% 0%, 25% 100%, 0 0%);
}

.angle2,
.angle2::after {
  height: 35px;
  width: 100%;
}

.angle2 {
  background-color: #f6f4f4;
}

.angle2::after {
  background-color: #7a5361;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 0%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 0%, 0% 100%);
}

.angle3,
.angle3::after {
  height: 40px;
  width: 100%;
}

.angle3 {
  background-color: #dae3e5;
}

.angle3::after {
  background-color: #f6f4f4;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 90.5% 99.79%, 90.5% 99.79%);
          clip-path: polygon(0% 0%, 100% 0%, 90.5% 99.79%, 90.5% 99.79%);
}

.incline_line1 {
  position: absolute;
  width: 100%;
  transform: rotate(3deg);
  color: #7a5361;
  border: 1.5px solid;
  border-color: rgb(127, 2, 44);
}

.incline_line2 {
  position: absolute;
  width: 100%;
  transform: rotate(0.3deg);
  color: #7a5361;
  border: 1.5px solid;
  border-color: rgb(127, 2, 44);
}

.incline_line3 {
  position: absolute;
  width: 100%;
  transform: rotate(2.62deg);
  color: #7a5361;
  border: 1.5px solid;
  border-color: rgb(127, 2, 44);
  top: 80px;
  z-index: 0;
}

.incline_line4 {
  position: absolute;
  width: 100%;
  transform: rotate(-2.68deg);
  color: #7a5361;
  border: 1.5px solid;
  border-color: rgb(127, 2, 44);
  top: 80px;
  z-index: 0;
}

.skills-tools {
  background-color: #7a5361;
}

h4 {
  font-family: Open Sans;
  color: #333232;
  padding-left: 60px;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 60px;
}

.tools1 {
  background-color: #f6f4f4;
}

.tools {
  color: #333232;
  font-family: Jacques Francois Shadow;
  font-size: 42px;
  padding-left: 60px;
  padding-bottom: 60px;
}

.container_icons {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.box_icon {
  color: #f6f4f4;
  width: 12%;
  height: 124px;
  margin-bottom: 30px;
}

.icon_text {
  color: #f6f4f4;
  font-family: "Montserrat";
  margin-top: 16px;
}

@media only screen and (max-width: 1200px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  .main_img {
    width: 350px;
    height: 400px;
  }
  h1 {
    margin-left: 100px;
    text-align: center;
    font-size: 60px;
    width: 100px;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    justify-content: center;
    margin: 0px auto;
    padding: 0px auto;
  }
  h2 {
    margin-left: 100px;
    font-size: 25px;
    line-height: 30px;
    justify-content: center;
    width: 100px;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    margin: 0px auto;
    padding: 0px auto;
    margin-top: 24px;
  }
  .line {
    height: 1px;
    width: 100%;
    color: black;
  }
  h3 {
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 24px;
  }
  h4 {
    font-size: 16px;
  }
  .tools {
    font-size: 32px;
  }
  .projects_certificates {
    font-size: 32px !important;
  }
  .skills_button {
    display: block;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 200px;
    font-family: "Jacques Francois";
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    background: #7a5361;
    color: #f6f4f4;
    text-shadow: -1px -1px 0 #8b8989, 1px -1px 0 #8b8989, -1px 1px 0 #8b8989, 1px 1px 0 #8b8989;
  }
  .contact_button {
    display: block;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 200px;
    font-family: "Jacques Francois";
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    background: #f6f4f4;
    color: #8b8989;
    text-shadow: -0.1px -0.1px 0 #7a5361, 1px -0.5px 0 #7a5361, -1px 0.1px 0 #7a5361, 0.5px 0px 0px #7a5361;
  }
  .wrapper {
    width: 100%;
    margin-top: 50px;
    display: flex;
  }
  .container-content {
    display: flex;
    text-align: center;
    font-family: "Montserrat";
    font-size: 20px;
    color: #333232;
    line-height: 30px;
  }
  .hello {
    color: #7a5361;
    font-family: "McLaren";
    font-size: 24px;
  }
  .box_icon {
    width: 24%;
  }
  .icon_text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 560px) {
  h1 {
    font-size: 45px;
    margin: 0px auto;
    padding: 0px auto;
  }
  h2 {
    font-size: 19px;
    margin: 0px auto;
    margin-top: 24px;
    padding: 0px auto;
  }
  h3 {
    font-size: 11px;
    margin-left: 5px !important;
    margin-top: 24px;
  }
  h4 {
    font-size: 14px;
  }
  .tools {
    font-size: 26px;
    padding-right: 80px;
  }
  .projects_certificates {
    font-size: 26px !important;
    padding-right: 80px;
  }
  .skills_button {
    display: block;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 150px;
    font-family: "Jacques Francois";
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    background: #7a5361;
    color: #f6f4f4;
    text-shadow: -1px -1px 0 #8b8989, 1px -1px 0 #8b8989, -1px 1px 0 #8b8989, 1px 1px 0 #8b8989;
  }
  .contact_button {
    display: block;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 150px;
    font-family: "Jacques Francois";
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: #8b8989;
    text-shadow: -0.1px -0.1px 0 #7a5361, 1px -0.5px 0 #7a5361, -1px 0.1px 0 #7a5361, 0.5px 0px 0px #7a5361;
    background: #f6f4f4;
  }
  .wrapper {
    width: 100%;
    margin-top: 20px;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
  }
  .container-content {
    display: flex;
    text-align: center;
    font-family: "Montserrat";
    font-size: 18px;
    color: #333232;
    line-height: 24px;
  }
  .hello {
    color: #7a5361;
    font-family: "McLaren";
    font-size: 20px;
  }
  .box_icon {
    width: 50%;
  }
  .icon_text {
    font-size: 12px;
  }
  .footer1 {
    font-size: 14px;
  }
}
.certificates_main {
  padding-top: 100px;
  background-color: #dae3e5;
}

.slider {
  position: relative;
  padding-bottom: 20px;
}

.slider-card {
  background: #f6f4f4;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgba(0, 0, 0, 0.73);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}

.slider-card img {
  border-radius: 5px 5px 0px 0px;
}

.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}

.owl-dots {
  text-align: center;
}

.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}

.owl-dots .owl-dot.active {
  background: #acacac !important;
}

.projects_main {
  padding-top: 100px;
  background-color: #f6f4f4;
}

.projects_certificates {
  color: #333232;
  font-family: Jacques Francois Shadow;
  font-size: 42px;
  padding-left: 60px;
  padding-bottom: 30px;
}

.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  color: #f6f4f4;
  font-family: Open Sans;
}

.owl-item.active.center .certificates-bg { /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(0deg, rgb(246, 244, 244) 0%, rgb(224, 216, 216) 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.owl-item.active.center .projects-bg {
  background: linear-gradient(0deg, rgb(135, 97, 109) 0%, rgb(231, 184, 202) 84%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.owl-item.active.center .projects-bg .contact_me {
  font-size: 32px;
}
.owl-item.active.center .projects-bg .contact_me1 {
  font-size: 18px;
  line-height: 24px;
}
.owl-item.active.center .projects-bg .contact_me {
  font-size: 30px;
}
.owl-item.active.center .projects-bg .contact_me1 {
  font-size: 16px;
  line-height: 20px;
}

.text-certificates {
  color: #7a5361;
  font-family: Open Sans;
}

.contact {
  background-image: url(/images/background.png);
  height: 600px;
}

.container-social-i {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  margin-top: 80px;
}

.container-social-i .social_icons a {
  color: #7a5361;
  transition: color 0.2s ease-in-out;
}

.container-social-i .social_icons a:hover {
  color: #eea7ac;
  background-color: transparent;
}

.container-social-i .social_icons {
  list-style-type: none;
}

.container-social-i .social_icons svg {
  fill: #7a5361;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #dae3e5;
  padding: 25px 0 20px;
  font-family: "Montserrat";
}

.footer1 {
  margin-top: 10px;
}

.footer_text {
  text-decoration: none;
  color: #7a5361;
}

.footer_text:hover {
  color: #c5a0ae;
}

textarea:hover {
  box-shadow: #8b8989 3px 3px 10px;
}

input:hover {
  box-shadow: #8b8989 3px 3px 10px;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: #7a5361 3px 3px 10px;
}

.contact_me {
  color: #333232;
  font-family: Jacques Francois Shadow;
  font-size: 36px;
}

.contact_me1 {
  text-align: center;
  font-family: "Montserrat";
  font-size: 18px;
  color: #333232;
  line-height: 24px;
}

.msg_text {
  font-family: "Montserrat";
  color: #333232;
}

.send_btn {
  margin: 20px auto;
  background: #c5a0ae;
  color: white;
  opacity: 0.8;
  font-size: 16px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  font-family: "Montserrat";
}

.send_btn:hover {
  background-color: #c5a0ae;
  opacity: 1;
  color: white;
}/*# sourceMappingURL=style.css.map */