body {
  background-color: #DAE3E5;
  background: radial-gradient(circle, rgb(240, 240, 240) 0%, rgb(218, 227, 229) 100%);
}

.navbar {
  padding: 10px;
}

.main_img {
  padding-top: 50px;
}

h1 {
  font-family: Jacques Francois Shadow;
  font-size: 100px;
  color: #333232;
  display: flex;
  padding-top: 124px;
  margin-bottom: 28px;
}

h2 {
  font-family: "Merriweather";
  font-size: 30px;
  line-height: 54px;
  display: flex;
  color: #333232;
  margin-bottom: 30px;
}

h3 {
  font-family: "Merriweather";
  font-size: 25px;
  opacity: 60%;
  color: #333232;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.buttons {
  gap: 10px;
}

.skills_button {
  display: block;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 300px;
  font-family: "Jacques Francois";
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  background: #7A5361;
  color: #f6f4f4;
  text-shadow: -1px -1px 0 #8B8989, 1px -1px 0 #8B8989, -1px 1px 0 #8B8989, 1px 1px 0 #8B8989;
}

.contact_button {
  display: block;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 300px;
  font-family: "Jacques Francois";
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  color: #8B8989;
  text-shadow: -0.1px -0.1px 0 #7A5361, 1px -0.5px 0 #7A5361, -1px 0.1px 0 #7A5361, 0.5px 0px 0px #7A5361;
  background: #F6F4F4;
}

.about {
  background-color: #F6F4F4;
  padding-bottom: 100px;
  display: flex;
}

section {
  margin: 0 auto;
  padding: 50px 0;
}

.wrapper {
  width: 100%;
  margin-top: 50px;
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
}

.container-content {
  display: flex;
  text-align: center;
  font-family: "Montserrat";
  font-size: 25px;
  color: #333232;
  line-height: 40px;
}

.hello {
  color: #7A5361;
  font-family: "McLaren";
  font-size: 30px;
}

@media only screen and (max-width: 1200px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  .main_img {
    width: 300px;
    height: 350px;
  }
  h1 {
    margin-left: 100px;
    text-align: center;
    font-size: 60px;
    width: 100px;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    justify-content: center;
    margin: 0px auto;
    padding: 0px auto;
  }
  h2 {
    margin-left: 100px;
    font-size: 25px;
    line-height: 30px;
    justify-content: center;
    width: 100px;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    margin: 0px auto;
    padding: 0px auto;
    margin-top: 24px;
  }
  .line {
    height: 1px;
    width: 100%;
    color: black;
  }
  h3 {
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 24px;
  }
  .skills_button {
    display: block;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 200px;
    font-family: "Jacques Francois";
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    background: #7A5361;
    color: #f6f4f4;
    text-shadow: -1px -1px 0 #8B8989, 1px -1px 0 #8B8989, -1px 1px 0 #8B8989, 1px 1px 0 #8B8989;
  }
  .contact_button {
    display: block;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 200px;
    font-family: "Jacques Francois";
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    background: #F6F4F4;
    color: #8B8989;
    text-shadow: -0.1px -0.1px 0 #7A5361, 1px -0.5px 0 #7A5361, -1px 0.1px 0 #7A5361, 0.5px 0px 0px #7A5361;
  }
  .wrapper {
    width: 100%;
    margin-top: 50px;
    display: flex;
  }
  .container-content {
    display: flex;
    text-align: center;
    font-family: "Montserrat";
    font-size: 20px;
    color: #333232;
    line-height: 30px;
  }
  .hello {
    color: #7A5361;
    font-family: "McLaren";
    font-size: 24px;
  }
}
@media only screen and (max-width: 560px) {
  h1 {
    font-size: 45px;
    margin: 0px auto;
    padding: 0px auto;
  }
  h2 {
    font-size: 19px;
    margin: 0px auto;
    margin-top: 24px;
    padding: 0px auto;
  }
  h3 {
    font-size: 11px;
    margin-left: 5px !important;
    margin-top: 24px;
  }
  .skills_button {
    display: block;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 150px;
    font-family: "Jacques Francois";
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    background: #7A5361;
    color: #f6f4f4;
    text-shadow: -1px -1px 0 #8B8989, 1px -1px 0 #8B8989, -1px 1px 0 #8B8989, 1px 1px 0 #8B8989;
  }
  .contact_button {
    display: block;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 150px;
    font-family: "Jacques Francois";
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: #8B8989;
    text-shadow: -0.1px -0.1px 0 #7A5361, 1px -0.5px 0 #7A5361, -1px 0.1px 0 #7A5361, 0.5px 0px 0px #7A5361;
    background: #F6F4F4;
  }
  .wrapper {
    width: 100%;
    margin-top: 20px;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
  }
  .container-content {
    display: flex;
    text-align: center;
    font-family: "Montserrat";
    font-size: 18px;
    color: #333232;
    line-height: 24px;
  }
  .hello {
    color: #7A5361;
    font-family: "McLaren";
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */