@import "./variables";
@mixin line($rotate) {
  position: absolute;
  width: 100%;
  transform: $rotate;
  color: $secondary_colour;
  border: 1.5px solid;
  border-color: rgb(127, 2, 44);
}
@mixin mainButtons {
  display: block;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 300px;
  font-family: "Jacques Francois";
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
}
@mixin mainButtonsSm($width, $font-size, $line-height) {
  display: block;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: $width;
  font-family: "Jacques Francois";
  font-size: $font-size;
  line-height: $line-height;
  text-align: center;
  text-decoration: none;
}
//Home page
.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: $main_font;
  font-size: 20px;
}
body {
  background-color: $main_background_colour;
  background: radial-gradient(
    circle,
    rgba(240, 240, 240, 1) 0%,
    rgba(218, 227, 229, 1) 100%
  );
}
.navbar {
  padding: 10px;
}

.main_img {
  position: relative;
  padding-top: 50px;
  z-index: 1;
}

h1 {
  font-family: Jacques Francois Shadow;
  font-size: 100px;
  color: $main_text_colour;
  display: flex;
  padding-top: 124px;
  margin-bottom: 28px;
}

h2 {
  font-family: "Merriweather";
  font-size: 30px;
  line-height: 54px;
  display: flex;
  color: $main_text_colour;
  margin-bottom: 30px;
}

h3 {
  font-family: "Merriweather";
  font-size: 25px;
  opacity: 60%;
  color: $main_text_colour;
}
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.buttons {
  gap: 10px;
  margin-top: 20px;
}
.skills_button {
  @include mainButtons();
  background: $secondary_colour;
  color: #f6f4f4;
  text-shadow: -1px -1px 0 $shadow-colour, 1px -1px 0 $shadow-colour,
    -1px 1px 0 $shadow-colour, 1px 1px 0 $shadow-colour;
}
.skills_button:hover {
  text-decoration: none;
}
.contact_button {
  @include mainButtons();
  color: $shadow-colour;
  text-shadow: -0.1px -0.1px 0 $secondary_colour, 1px -0.5px 0 $secondary_colour,
    -1px 0.1px 0 $secondary_colour, 0.5px 0px 0px $secondary_colour;
  background: $additional_colour;
}
.contact_button:hover {
  text-decoration: none;
}
//About page
.about {
  background-color: $additional_colour;
  padding-bottom: 100px;
  display: flex;
}
section {
  margin: 0 auto;
  padding: 50px 0;
}
.wrapper {
  width: 100%;
  margin-top: 50px;
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
}
.container-content {
  display: flex;
  text-align: center;
  font-family: "Montserrat";
  font-size: 25px;
  color: $main_text_colour;
  line-height: 40px;
}
.hello {
  color: $secondary_colour;
  font-family: "McLaren";
  font-size: 30px;
}
///Angles
.angle {
  position: relative;
}

.angle:after {
  content: "";
  position: absolute;
}
.angle1,
.angle1::after {
  height: 35px;
  width: 100%;
}

.angle1 {
  background-color: $secondary_colour;
}

.angle1::after {
  background-color: $additional_colour;
  clip-path: polygon(0% 0, 100% 0%, 25% 100%, 0 0%);
}
.angle1,
.angle1::after {
  height: 35px;
  width: 100%;
}

.angle1 {
  background-color: $secondary_colour;
}

.angle1::after {
  background-color: $additional_colour;
  clip-path: polygon(0% 0, 100% 0%, 25% 100%, 0 0%);
}
.angle2,
.angle2::after {
  height: 35px;
  width: 100%;
}
.angle2 {
  background-color: $additional_colour;
}
.angle2::after {
  background-color: $secondary_colour;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 0%, 0% 100%);
}

.incline_line1 {
  @include line(rotate(3deg));
}
.incline_line2 {
  @include line(rotate(0.3deg));
}
.incline_line3 {
  @include line(rotate(2.62deg));
  top: 80px;
  z-index: 0;
}
.incline_line4 {
  @include line(rotate(-2.68deg));
  top: 80px;
  z-index: 0;
}
.skills-tools {
  background-color: $secondary_colour;
}
h4 {
  font-family: $main_font;
  color: $main_text_colour;
  padding-left: 60px;
  font-size: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-top: 60px;
}
.tools1 {
  background-color: $additional_colour;
}
.tools {
  color: $main_text_colour;
  font-family: $secondary_font;
  font-size: 42px;
  padding-left: 60px;
  padding-bottom: 60px;
}
.container_icons {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.box_icon {
  color: $additional_colour;
  width: 12%;
  height: 124px;
  margin-bottom: 30px;
}
.icon_text {
  color: $additional_colour;
  font-family: "Montserrat";
  margin-top: 16px;
}
@media only screen and (max-width: 1200px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
  .main_img {
    width: 350px;
    height: 400px;
  }
  h1 {
    margin-left: 100px;
    text-align: center;
    font-size: 60px;
    width: 100px;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    justify-content: center;
    margin: 0px auto;
    padding: 0px auto;
  }
  h2 {
    margin-left: 100px;
    font-size: 25px;
    line-height: 30px;
    justify-content: center;
    width: 100px;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
    margin: 0px auto;
    padding: 0px auto;
    margin-top: 24px;
  }
  .line {
    height: 1px;
    width: 100%;
    color: black;
  }
  h3 {
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 24px;
  }
  h4 {
    font-size: 16px;
  }
  .tools {
    font-size: 32px;
  }
  .skills_button {
    @include mainButtonsSm(200px, 18px, 30px);
    background: $secondary_colour;
    color: #f6f4f4;
    text-shadow: -1px -1px 0 $shadow-colour, 1px -1px 0 $shadow-colour,
      -1px 1px 0 $shadow-colour, 1px 1px 0 $shadow-colour;
  }
  .contact_button {
    @include mainButtonsSm(200px, 18px, 30px);
    background: $additional_colour;
    color: $shadow-colour;
    text-shadow: -0.1px -0.1px 0 $secondary_colour,
      1px -0.5px 0 $secondary_colour, -1px 0.1px 0 $secondary_colour,
      0.5px 0px 0px $secondary_colour;
  }
  ///About page
  .wrapper {
    width: 100%;
    margin-top: 50px;
    display: flex;
  }
  .container-content {
    display: flex;
    text-align: center;
    font-family: "Montserrat";
    font-size: 20px;
    color: $main_text_colour;
    line-height: 30px;
  }
  .hello {
    color: $secondary_colour;
    font-family: "McLaren";
    font-size: 24px;
  }
  .box_icon {
    width: 24%;
  }
  .icon_text {
    font-size: 14px;
  }
}
@media only screen and (max-width: 560px) {
  h1 {
    font-size: 45px;
    margin: 0px auto;
    padding: 0px auto;
  }
  h2 {
    font-size: 19px;
    margin: 0px auto;
    margin-top: 24px;
    padding: 0px auto;
  }
  h3 {
    font-size: 11px;
    margin-left: 5px !important;
    margin-top: 24px;
  }
  h4 {
    font-size: 14px;
  }
  .tools {
    font-size: 26px;
    padding-right: 80px;
  }
  .skills_button {
    @include mainButtonsSm(150px, 14px, 24px);
    background: $secondary_colour;
    color: #f6f4f4;
    text-shadow: -1px -1px 0 $shadow-colour, 1px -1px 0 $shadow-colour,
      -1px 1px 0 $shadow-colour, 1px 1px 0 $shadow-colour;
  }
  .contact_button {
    @include mainButtonsSm(150px, 14px, 24px);
    color: $shadow-colour;
    text-shadow: -0.1px -0.1px 0 $secondary_colour,
      1px -0.5px 0 $secondary_colour, -1px 0.1px 0 $secondary_colour,
      0.5px 0px 0px $secondary_colour;
    background: $additional_colour;
  }
  .wrapper {
    width: 100%;
    margin-top: 20px;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
  }
  .container-content {
    display: flex;
    text-align: center;
    font-family: "Montserrat";
    font-size: 18px;
    color: $main_text_colour;
    line-height: 24px;
  }
  .hello {
    color: $secondary_colour;
    font-family: "McLaren";
    font-size: 20px;
  }
  .box_icon {
    width: 50%;
  }
  .icon_text {
    font-size: 12px;
  }
}
////PROJECTS&CERTIFICATES
.projects_certificates {
  padding-top: 100px;
  background-color: $additional_colour;
}
.certificates {
  color: $main_text_colour;
  font-family: $secondary_font;
  font-size: 42px;
  padding-left: 60px;
  padding-bottom: 30px;
}
.slider {
  position: relative;
  padding-bottom: 20px;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: $secondary_colour; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    $secondary_colour,
    $additional_colour
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(0deg, rgb(135, 97, 109) 0%, rgb(231, 184, 202) 84%);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-size: $main_font;
}
.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
}
.slider-card img {
  border-radius: 5px 5px 0px 0px;
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ccc !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: #a16379 !important;
}
